* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100%;
    background-color: #000000;
    overflow-x: hidden;
    direction: rtl;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: "shabnam";
    src: url("../public/shabnam/Shabnam.eot") format("embedded-opentype"),
        url("../public/shabnam/Shabnam.woff") format("woff"),
        url("../public/shabnam/Shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "shabnamB";
    src: url("../public/shabnam/Shabnam-Bold.eot") format("embedded-opentype"),
        url("../public/shabnam/Shabnam-Bold.woff") format("woff"),
        url("../public/shabnam/Shabnam-Bold.ttf") format("truetype");
    font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.shabnam {
    font-family: "shabnam";
}
